a{
  text-decoration: none;
}


.left__contents{
  color: $left-text;
  height: 100vh;
  width: 300px;
  float: left;

  .left__header{
    background-color: #253141 ;
    height: 100px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      
      &__user--name{
        font-size: 16px;
      } 

      &__menu{
        display: flex;
        
          &__new-group{
            color: $left-text;
            margin-left: 0.3rem;
          }
          &__edit-user{
            color: $left-text;
            margin-left: 0.3rem;
          }
      }
   } 
 }
  
  .groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    font-weight: bold;
    box-sizing: border-box;

    .group{
      text-decoration: none;

      &__group-name{
        color: $left-text;
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__lastest-message{
        color: $left-text;
        font-size: 11px;
        margin-bottom: 40px;

    }
   }
  }
}
